{% extends "base.html" %}
{% block content %}
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">{{ _('Ups!') }}</span> {{ _('Strona nie została znaleziona.') }}</p>
        <p class="lead">
            {{ _('Strona, której szukasz, nie istnieje. Mogła zostać przeniesiona lub usunięta.') }}
        </p>
        <a href="{{ url_for('index') }}" class="btn btn-primary-custom mt-3">{{ _('Wróć na stronę główną') }}</a>
    </div>
{% endblock content %}