{% extends "base.html" %}

{% block content %}
<div class="flex min-h-[80vh] items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8" data-aos="zoom-in-up">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">{{ _('Zaloguj się do swojego konta') }}</h2>
        </div>
        <form class="mt-8 space-y-6 rounded-lg bg-white p-8 shadow-lg" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="space-y-4 rounded-md ">
                <div>
                    {{ form.login_identifier.label(class="sr-only") }}
                    {{ form.login_identifier(class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-[var(--c-brand-primary)] focus:outline-none focus:ring-[var(--c-brand-primary)] sm:text-sm", placeholder=_('Nazwa użytkownika lub E-mail')) }}
                </div>
                <div>
                    {{ form.password.label(class="sr-only") }}
                    {{ form.password(class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-[var(--c-brand-primary)] focus:outline-none focus:ring-[var(--c-brand-primary)] sm:text-sm", placeholder=_('Hasło')) }}
                </div>
            </div>

            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    {{ form.remember(class="h-4 w-4 rounded border-gray-300 text-[var(--c-brand-primary)] focus:ring-[var(--c-brand-primary)]") }}
                    {{ form.remember.label(class="ml-2 block text-sm text-gray-900") }}
                </div>

                <div class="text-sm">
                    <a href="{{ url_for('reset_request') }}" class="font-medium text-[var(--c-brand-primary)] hover:text-[var(--c-brand-secondary)]">{{ _('Zapomniałeś hasła?') }}</a>
                </div>
            </div>

            <div>
                {{ form.submit(class="group relative flex w-full justify-center rounded-md border border-transparent bg-[var(--c-brand-primary)] py-2 px-4 text-sm font-medium text-white hover:bg-[var(--c-brand-primary)]/90 focus:outline-none focus:ring-2 focus:ring-[var(--c-brand-primary)] focus:ring-offset-2") }}
            </div>
        </form>
        <div class="text-center text-sm text-gray-600">
            <p>
                {{ _("Nie masz jeszcze konta?") }}
                <a href="{{ url_for('rejestracja') }}" class="font-medium text-[var(--c-brand-primary)] hover:text-[var(--c-brand-secondary)]">{{ _('Zarejestruj się!') }}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
